/* universal things  */
* {
    margin: 0%;
    padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    color: rgb(128, 125, 125);
}

.button-style {
    background-color: orangered;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 0 1px 1px rgb(237, 98, 98);
}

.container-style {
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-style p {
    width: 50%;
    font-size: 14px;
}

/* universal things ended */

/* Header section started */

header {
    height: 550px;
    background-image: url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}


.top-section {
    width: 70%;
    height: 60%;
    text-align: center;
    margin-top: 50px;

}

.top-section p {
    text-shadow: 0 0 2px rgb(112, 111, 111);
    font-size: 16px;
    color: aliceblue;
}

.top-section h1 {
    color: rgb(137, 241, 206);
    text-shadow: 0 0 3px rgb(2, 82, 82);
}

/* header section ended */


/* donate today section started */

.donate-today {}


#tk-amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    width: 60%;
    color: rgb(109, 108, 108);
}

.tk-amount-style {
    padding: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 5px;
    width: 11%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.common-tk-color {
    background-color: rgb(244, 249, 250);
}

#tk-200-color {
    border: 2px solid orangered;
    background-color: #f9e0d6;
    color: tomato;
}

#input {
    border: none;
    border-bottom: 1.5px solid #E3E3E3;
    text-align: center;
    width: 56%;
    font-size: 15px;
    line-height: 3;
    font-family: 'Poppins', sans-serif;
}

#input:focus {

    outline: none;
    box-shadow: 0 0 5px #719ECE;
}

#input::placeholder {
    color: #cac7c7;
}

/* donate today section ended */

/* donate plan section started */

#our-donate-plan {
    margin-top: 50px;
    margin-bottom: 50px;
}

#donate-plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    width: 80%;
}

.plan-common-style {
    width: 28%;
    height: 250px;
    padding: 2%;
    padding-top: 3%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 5px;
    text-align: left;
}

.plan-common-style p {
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
}

.plan-common-style img {
    width: 25%;
    height: 22%;
}

#food {
    background-color: #4F9DA61A;
}

#shelter {
    background-color: #FF59591A;
}

#education {
    background-color: #FFF4D6;
}

/* donate plan section ended */